* {
  font-family: Merriweather, serif;
  box-sizing: border-box;
}

/* MAKINGTHE VIEW AS IF USER IS ZOOMINF 75% */
.content-wrapper {
  transform: scale(0.75);
  transform-origin: 0 0;
  width: 133.33%;
  height: 133.33%;
}

body {
  background-color: #faf0bf;
}

.main-container {
  display: flex;
  width: 90%;
  max-width: 3000px;
  margin: 20px auto;
  /* background-color: darkgrey; */
  height: 550px;
  justify-content: space-between;
}

.img-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-jesus {
  height: 90%;
  border-radius: 32px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.text-part {
  display: flex;
  /* align-items: center;  */
  /* justify-content: center; */
  flex: 1;
  flex-direction: column;
}

.quote {
  font-family: "Roboto Mono";
  font-size: 2rem;
  color: #444;
  /* font-family: "Bebas Neue"; */
}

.owner {
  font-family: "Bebas Neue";
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #555;
}

/* SHADOW */

.talk-div {
  position: relative;
  text-align: center;
  background-color: #eee;
  color: #333;
  border-radius: 24px;

  /* margin: auto -160px auto 20px; */
  margin: auto 20px auto 40px;
  padding: 10px;

  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.talk-div::before {
  content: "";
  position: absolute;
  /* top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px; */
  top: 0px;
  left: -6px;
  right: 0px;
  bottom: -6px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  z-index: -1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* CHAT Section */
.chat {
  margin: 20px 100px;
  display: flex;
  height: 550px;
  justify-content: space-between;
}

.ask-part {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.img-chat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-jesus {
  height: 90%;
}

.bio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.jesus-profile {
  height: 70px;
  width: 70px;
}

.rick-roll {
  display: inline-block;
  color: #444;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.2s;
}

.rick-roll:hover {
  color: #666;
}

.input-ask {
  background-color: #fff;
  border: #666 1px solid;
  padding: 10px 20px;
  border-radius: 6px;
  width: 600px;
  color: #777;
}

.input-ask:focus {
  outline: none;
  border: #777 1px solid;
  color: #444;
}

.jesus-answer {
  background-color: #fff;
  border: #666 1px solid;
  padding: 10px 20px;
  border-radius: 6px;
  width: 600px;
  color: #777;
}

.chat-part {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
